.App {
  text-align: center;
  color: white;
  text-shadow: 1px 1px #000000;
}

.text-white {
  color: white;
}

.btn {
  padding: 20px;
  background-color: blueviolet;
  border-radius: 10%;
  color: white;
  transition: 0.5s all;
}

.btn:hover {
  transform: scale(1.1);
}

.formulaire {
  font-size: 5rem;
}

.formulaire > form {
  display: flex;
  flex-direction: column;
}

.formulaire > form > span {
  margin : 2rem
}

.formulaire > form > button {
  width: 80%;
  margin: 0 auto;
}